<h1>Editing Suggestion User Comment</h1>

<%= render 'form', suggestion_user_comment: @suggestion_user_comment %>

<%= link_to 'Show', @suggestion_user_comment %> |
<%= link_to 'Back', suggestion_user_comments_path %>
