<h1>Editing Suggestion</h1>

<%= render 'form', suggestion: @suggestion %>

<%= link_to 'Show', document_suggestion_path(@suggestion) %> |
<%= link_to 'Back', document_suggestions_path, class: "btn btn-danger", style: "color:white" %>
